 <!-- Site footer -->
 <footer class="site-footer mt-4 ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
       <p class="text-justofy">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, sed officiis fugiat consectetur amet atque, ut earum inventore quam maxime ex? Numquam necessitatibus accusantium aperiam nisi a, ipsa, laborum nostrum error excepturi harum culpa quisquam. Omnis, ad. Repudiandae, nesciunt a corporis vel porro architecto odio, molestias itaque ducimus commodi earum.
       </p>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; Your Blog name
        </p>
      </div>
    </div>
  </div>
</footer>
