<% layout('layout/main') -%>
<% block('title', 'About') -%>


<div class="container">
  <h1 class="blog-heading top-m">About</h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, quia incidunt necessitatibus corrupti voluptatibus vitae sit adipisci, minus corporis eligendi voluptas eveniet quo id exercitationem est quam eos beatae officia. Placeat aliquam veritatis quisquam obcaecati consequatur tenetur id ab iure dolor accusantium, adipisci voluptate harum voluptatem ea ex eaque temporibus rerum totam consequuntur voluptatum non. Blanditiis, saepe. Dolores, eos praesentium!
</div>
